.color{
  color: green;
}
.black{
  color:blue;
}
.sameer{
    background-color:rgb(80, 118, 109);
    color:white !important;
    text-align:center;
    padding:5px;
    font-weight: bold;
}
#sam{
  color:red;
  background-color:metalic-grey !important;
}

#monu{
  text-decoration: underline;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
#section {
    width:350px;
    float:left;
    padding:10px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;
}
